section{
    height: 100vh;
}

#welcome{
    background-image: url(/Delani_Assets/IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    
}
#about-us{
    line-height: 50px;
}