section{
    height: 100vh;
}

#welcome{
    background-image: url(/Delani_Assets/IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    padding-top: 90px;
    margin-top: 30px;
 
    
}
#about-us{
    line-height: 50px;
}
#services{
    background-image: url(/Delani_Assets/IP3-master/assets/backgrounds/s_image.jpg);
    background-size: cover;
    align-items: center;
    color: white;
    line-height: 50px;
}

.design p{
    display: none;
    cursor: pointer;
}
    
.development p{
    display: none;
    cursor: pointer;
}
.productmanagement p{
    display: none;
    cursor: pointer;
}
#portfoliosection{
    height: 100vh;
  
}



  .album{
    width: 70%;
    margin: auto;
  }

.album >h3{
  font-weight: 700;
  font-size: 24px;
}




.textover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  border: 2px solid white;
  width: 150px;
  height: 120px;
  opacity: 0.7;
  background: black;
  text-align: left;
  text-transform: uppercase;
}

.hover {
  display: none;
}
#form{
    background-image: url("../Delani_Assets/IP3-master/assets/backgrounds/c_image.jpg");
    background-size: cover;
  }
  .input{
    display: inline;
   
  }
  
  
  #form input{
    width:35%;
    background-color: transparent;
  
  }
  #name{
    margin-left: 5%;
    color :white;
    
  }
  #email{
    margin-left:5%;
    color: white;
    
  }
  #form textarea{
    background-color: transparent;
    color: white;
   
  }
  #email::placeholder{
    color: white;
  }
  
  #name::placeholder{
    color: white;
  }
  textarea::placeholder{
    color: white;
  }