section{
    height: 100vh;
}

#welcome{
    background-image: url(/Delani_Assets/IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    padding-top: 90px;
    margin-top: 30px;
 
    
}
#about-us{
    line-height: 50px;
}
#services{
    background-image: url(/Delani_Assets/IP3-master/assets/backgrounds/s_image.jpg);
    background-size: cover;
    align-items: center;
    color: white;
    line-height: 50px;
}
#portfoliosection img{
    width: 100%;
}
.design p,.development p,.productmanagement p{
    display: none;
    cursor: pointer;
}
    